@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);

@font-face {
  font-family: 'Colors Of Autumn';
  src: url('Colors Of Autumn-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Universal Accreditation';
  src: url('uni_acc_italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Universal Accreditation', cursive;
  font-size: 18px;
  cursor: default;
  text-align: center;
  transition: background .5s ease-in;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (min-width: 790px) {
  body:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  main {
    display: inline-block;
    vertical-align: middle;
  }
}

body:hover {
  color: white;
  background: black;
}

body:hover a {
  color: white;
  border-bottom: 2px solid white;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #000;
}

a:active {
  position: relative;
  top: 1px;
}

h1 {
  font-family: 'Colors Of Autumn', sans-serif;
  font-size: 4em;
  letter-spacing: 0;
}

.subline {
  font-size: 2.5em;
}

h1, .subline, a {
  transition: all 1s ease-in;
}

.teaser {
  margin-top: 200px;
  font-size: 1.5em;
}

.teaser p {
  margin-top: 0;
}

.teaser p:last-child {
  margin-bottom: 0;
}

.teaser p > a:before {
  content: '> ';
}
